@font-face {
    font-family: 'JMH Typewriter';
    src: url('fonts/JMH\ Typewriter-Bold.ttf');
}

@font-face {
    font-family: 'fatkat';
    src: url(fonts/Fat\ Kat\ -\ \(Demo\)\ hanscostudio.com\ \(1\).ttf);
}

@font-face {
    font-family: 'extradays';
    src: url(fonts/Extra\ Days.ttf);
}

body {
    width: 100%;
    background-color: rgb(119, 119, 119);
    margin: 0px;
    padding: 0px;
}

#hometitle {
    background-color: rgb(205, 205, 205);
    width: 100%;
    height: 160px;
    top: 0;
    margin: 0;
}

#hometitle img {
    width: 350px;
    margin: auto;
    margin-top: 7px;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    border-radius: none;
    background-color: transparent;
}

.navlinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    color: rgb(195, 195, 195);
    font-size: 18px;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(124, 0, 0);
    z-index: 1000;
    margin: 0;
}

.navlinks button {
    background-color: rgb(195, 195, 195);
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: rgb(119, 119, 119);
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'JMH Typewriter';

}

.navlinks button:hover {
    background-color: rgb(72, 1, 1);
    color: rgb(181, 181, 181);
}

.grid2 {
    display: grid;
    gap: 20px;
    grid-template-columns: 150px auto 50px auto 150px;
    grid-template-rows: auto;
    background-color: #B62025;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    height: 700px;
    margin: 0;
    padding: 0%;

}

.abtme p {
    width: 400px;
    height: fit-content;
    object-fit: cover;
    margin-left: 50px;
    grid-column-start: 2;
    font-size: 20px;
    background-color: rgb(124, 0, 0);
    color: rgb(195, 195, 195);
    padding: 30px;
    margin-left: 150px;
    border-radius: 20px;
    font-family: 'JMH Typewriter';
    text-align: center;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));

}

.abtme img {
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));
    width: 450px;
    height: 450px;
    object-fit: cover;
    position: relative;
    right: -500px;
}

body {
    font-family: 'JMH Typewriter';
    background-color: rgb(206, 206, 206);
}

.contact-container {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;

}

.contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-left-title h2 {
    font-family: 'JMH Typewriter';
    font-size: 50px;
    font-weight: 600;
    color: rgb(124, 0, 0);
    margin-bottom: 5px;
}

.contact-left-title hr {
    width: 200px;
    border: none;
    height: 5px;
    background-color: rgb(124, 0, 0);
    border-radius: 50px;
    margin-bottom: 20px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(124, 0, 0);
    border-radius: 50px;
    font-family: 'jmh typewriter';

}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 20px;
}

.contact-inputs:focus {
    border: 2px solid rgb(124, 0, 0);
    transition: none;
}

.contact-inputs::placeholder {
    font-weight: 500;
    font-size: 20px;
    color: rgb(124, 0, 0);
    font-family: 'jmh typewriter';
}

.contact-left button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    width: 200px;
    font-size: 20px;
    gap: 10px;
    color: rgb(206, 206, 206);
    background-color: rgb(124, 0, 0);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-family: 'JMH Typewriter';
    padding: 15px 30px;
}

#bizcard img {
    width: 500px;
    height: 300px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(195, 195, 195);
    font-size: 30px;
    color: rgb(124, 0, 0);
    height: auto;
    margin: 0px;
}

.footer button {
    background-color: rgb(124, 0, 0);
    color: rgb(195, 195, 195);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'JMH Typewriter';
    height: 50px;

}

.footer button:hover {
    background-color: rgb(181, 181, 181);
    color: rgb(124, 0, 0);
}

#bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(124, 0, 0);
    padding: 10px;
    height: 300px;

}

#bottom img {
    width: 250px;
    height: 250px;
    object-fit: cover;

}

@media (max-width: 1000px) {
    .grid2 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        height: fit-content;
    }

    .abtme img {
        width: 100%;
        height: auto;
        right: 0px;
    }

    .abtme p {
        width: 90%;
        margin-left: 0px;
    }

    #bottom img {
        width: 2fr;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-items: space-evenly;
    }

    .contact-inputs {
        width: 80vw;
    }

    .contact-container {
        flex-direction: column;
        height: fit-content;
    }

    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: full-width;
        max-width: 100%;
    }
    .footer button {
        width: 1fr;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
    #bizcard img {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 0px;
        margin-top: auto;
        margin-bottom: auto;
    }

}

@media (max-width: 600px) {
    body {
        font-size: 14px;
        width: 100%;
        max-width: 100vw;
    }

    .navlinks {
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: center;
        gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navlinks button {
        width: 100%;
        margin-bottom: 10px;
        
    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        height: fit-content;
        width: 100%;
        max-width: 100vw;
    }

    .abtme p {
        width: 90%;
        max-width: 85vw;
        margin: 30 auto;
        margin-left: 5px;
        padding: 20px;
        text-align: center;
        justify-content: center;
        overflow-wrap: break-word;
    }

    .abtme img {
        width: 90%;
        height: auto;
        display: block;
        margin: 10px auto;
        max-width: 90vw;
        justify-content: center;
    }

    .contact-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 20px;
        align-items: center;
        height: fit-content;
    }

    .contact-inputs,
    .contact-left textarea,
    .contact-left button {
        width: 90%;
    }

    #bizcard img {
        width: 100%;
        max-width: 100vw;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: full-width;
        max-width: 100%;
    }
    .footer button {
        width: 1fr;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }

    #bottom {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 2px;
        width: 100%;
        max-width: 100vw;
        align-items: center;
        gap: 5px;
    }

    #bottom img {
        width: 300px;
        height: auto;
        margin: 10px auto;
      