@font-face {
    font-family: 'JMH Typewriter';
    src: url('fonts/JMH\ Typewriter-Bold.ttf');
}

@font-face {
    font-family: 'fatkat';
    src: url(fonts/Fat\ Kat\ -\ \(Demo\)\ hanscostudio.com\ \(1\).ttf);
}

@font-face {
    font-family: 'extradays';
    src: url(fonts/Extra\ Days.ttf);
}

img {
    width: 200px;
    height: auto;
}

h1 {
    font-family: 'extradays';
    font-size: 40px;
    color: rgb(124, 0, 0);
}

p {
    font-family: 'JMH Typewriter';
}

body {
    width: fit-content;
    background-color: #B62025;
    margin: 0px;
    padding: 0px;
}

#hometitle {
    background-color: rgb(205, 205, 205);
    width: 100%;
    height: 160px;
    top: 0;
}

#hometitle img {
    width: 350px;
    margin: auto;
    margin-top: 7px;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    border-radius: none;
    background-color: transparent;
}

.navlinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    color: rgb(195, 195, 195);
    margin-top: 0;
    font-size: 18px;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(124, 0, 0);
    z-index: 1000;
}

.navlinks button {
    background-color: rgb(195, 195, 195);
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: rgb(119, 119, 119);
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'JMH Typewriter';

}

.navlinks button:hover {
    background-color: rgb(72, 1, 1);
    color: rgb(181, 181, 181);
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: #B62025;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

}

.grid button {
    padding: 10px;
    background-color: rgb(124, 0, 0);
    border: none;
    border-radius: 40px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(195, 195, 195);
    justify-content: space-evenly;
    align-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'JMH Typewriter';
}

.grid img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: 20px;
    padding: auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));
    border-radius: 20px;

}

.img1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: -50px;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));

}

.service1 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(195, 195, 195);
    height: fit-content;
    font-size: 20px;
    margin: 20px;
    margin-top: 70px;
    filter: drop-shadow(10px 10px 0px black);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));


}

.img2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-right: -50px;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));

}

.service2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(195, 195, 195);
    height: fit-content;
    font-size: 20px;
    margin: 20px;
    margin-top: 70px;
    filter: drop-shadow(10px 10px 0px black);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));

}

.img3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: -50px;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));

}

.service3 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(195, 195, 195);
    height: fit-content;
    font-size: 20px;
    margin: 20px;
    margin-top: 70px;
    filter: drop-shadow(10px 10px 0px black);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));

}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: full-width;
    max-width: 100%;
}
.footer button {
    width: 1fr;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1000px) {
    .grid {
        display: flex;
        flex-direction: column;
        justify-items: space-evenly;
        align-items: center;
        padding: 10px;
        margin: 10px;
        gap: 5px;
    }

    .grid img {
        width: 500px;
        height: 500px;
        object-fit: cover;
    }

    .book1 {
        margin-top: -90px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        z-index: 1;
        text-align: center;
        padding: 0px;
    }

    .book2 {
        margin-top: -90px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        z-index: 1;
        text-align: center;
        padding: 0px;
    }

    .book3 {
        margin-top: -90px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        z-index: 1;
        text-align: center;
        padding: 0px;
    }

    .service1 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 20px;
        height: fit-content;
    }

    .service2 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 20px;
        height: fit-content;
    }

    .service3 {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 20px;
        height: fit-content;
    }

    .img1 {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0px;
    }

    .img2 {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0px;
    }

    .img3 {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0px;

    }

    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: full-width;
        max-width: 100%;
    }
    .footer button {
        width: 1fr;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    body {
        width: 100%;
        max-width: 100%;
        margin: 0px;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 0 auto;
        gap: 5px;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }

    .grid img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        display: block;
        overflow: hidden;
    }

    .book1 {
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
        text-align: center;
        padding: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .book2 {
        margin: 0 auto;
        z-index: 1;
        text-align: center;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .book3 {
        margin: 0 auto;
        z-index: 1;
        text-align: center;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .service1 {
        margin: 0 auto;
        text-align: center;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 80vw;
    }

    .service2 {
        margin: 0 auto;
        text-align: center;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        width: 80vw;
    }

    .service3 {
        margin: 0 auto;
        text-align: center;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        flex-direction: column;
        width: 80vw;
    }

    .footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: full-width;
        max-width: 100%;
    }
    .footer button {
        width: 1fr;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
        overflow: hidden;
    }
}

