@font-face {
    font-family: 'JMH Typewriter';
    src: url('fonts/JMH\ Typewriter-Bold.ttf');
}

@font-face {
    font-family: 'fatkat';
    src: url(fonts/Fat\ Kat\ -\ \(Demo\)\ hanscostudio.com\ \(1\).ttf);
}

@font-face {
    font-family: 'extradays';
    src: url(fonts/Extra\ Days.ttf);
}

img {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 80px;
    font-family: 'jmh typewriter';
    font-weight: bold;
    color: rgb(49, 0, 0);
    -webkit-text-stroke: 1px rgb(164, 164, 164);
    letter-spacing: 5px;
    line-height: 65px;
    text-align: center;
    font: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    z-index: 2;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
    margin-top: 30px;
    font-family: 'jmh typewriter';
    font-weight: bold;
    color: rgb(49, 0, 0);
    -webkit-text-stroke: .5px rgb(164, 164, 164);
    letter-spacing: 5px;
    text-align: center;}

body {
    background-color: rgb(124, 0, 0);
    font-family: 'JMH Typewriter';
    margin: 0px;
    padding: 0px;
}

#hometitle {
    background-color: rgb(205, 205, 205);
    width: 100%;
    height: 160px;
}

#hometitle img {
    width: 350px;
    margin: auto;
    margin-top: 7px;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    border-radius: none;
    background-color: transparent;
}

.navlinks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    color: rgb(195, 195, 195);
    margin-top: 160px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 70px;
    background-color: rgb(124, 0, 0);
}

.navlinks button {
    background-color: rgb(195, 195, 195);
    width: 150px;
    height: 50px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: rgb(119, 119, 119);
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    font-family: 'JMH Typewriter';
}

.navlinks button:hover {
    background-color: rgb(72, 1, 1);
    color: rgb(181, 181, 181);
}

#cover img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    object-fit: cover;
    object-position: bottom;
    grid-column: 1;
    height: 700px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 70px;
    border-radius: 0px;
    left: 0;
    right: 0;
}

.grid {
    display: grid;
    gap: 150px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: rgb(124, 0, 0);
    justify-content: space-evenly;
    align-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: auto;
}

.grid button {
    padding: 10px;
    background-color: rgb(124, 0, 0);
    border: none;
    border-radius: 40px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(195, 195, 195);
    justify-content: space-evenly;
    align-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'JMH Typewriter';
}

.grid button:hover {
    background-color: rgb(72, 1, 1);
    color: rgb(223, 223, 223);
}

.grid img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    padding: auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));
}

.img1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));
}

.serv1header {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}

.service1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: rgb(195, 195, 195);
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 85px;
    font-size: 20px;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));

}
.book1 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 370px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    text-align: center;

}

.img2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: auto;
    justify-self: center;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));
}

.serv2header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}

.service2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(195, 195, 195);
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 85px;
    font-size: 20px;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));

}
.book2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 420px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    text-align: center;

}

.img3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));
}

.serv3header {
    font-size: 50px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;

}

.service3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(195, 195, 195);
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 85px;
    font-size: 20px;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.5));

}
.book3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-top: 390px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(195, 195, 195);
    font-size: 30px;
    color: rgb(124, 0, 0);
    height: auto;
    margin-bottom: 0px;
}

.footer button {
    background-color: rgb(124, 0, 0);
    color: rgb(195, 195, 195);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'JMH Typewriter';
    height: 50px;

}

.footer button:hover {
    background-color: rgb(181, 181, 181);
    color: rgb(124, 0, 0);
}

#bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(141, 141, 141);
    padding: 10px;
    height: 300px;

}

#bottom img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .grid {
        display: flex;
        flex-direction: column;
        justify-items: space-evenly;
        align-items: center;
        padding: 10px;
        margin: 10px;
        gap: 5px;
    }
    .grid img {
        width: 500px;
        height: 500px;
        object-fit: cover;
    }
    #cover img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .serv1header{
        font-size: 20px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 1;
    }
    .serv2header{
        font-size: 20px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 1;
    }
    .serv3header{
        font-size: 20px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        z-index: 1;
    }
    .book1 {
        margin-top: -90px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        z-index: 1;
        text-align: center;
        padding: 0px;
    }
    .book2 {
        margin-top: -90px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        z-index: 1;
        text-align: center;
        padding: 0px;
    }
    .book3 {
        margin-top: -90px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        z-index: 1;
        text-align: center;
        padding: 0px;
    }
    .service1 {
        margin-top: -90px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 20px;
    }
    .service2{
        margin-top: -90px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 20px;
    }
    .service3{
        margin-top: -90px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 20px;
    }
    .img1{
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0px;
    }
    .img2{
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0px;
    }
    .img3{
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0px;
    }
}
