*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{ 
    font-family: 'JMH Typewriter';
    background-color: rgb(206, 206, 206);
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contact-left-title h2{
    font-family: 'JMH Typewriter';
    font-size: 50px;
    font-weight: 600;
    color: rgb(124, 0, 0);
    margin-bottom: 5px;
}
.contact-left-title hr{
    width: 120px;
    border: none;
    height: 5px;
    background-color: rgb(124, 0, 0);
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: rgb(255, 168, 168);
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid rgb(124, 0, 0);
    transition: all 0.3s ease;
}
.contact-inputs::placeholder{
    color: rgb(124, 0, 0);
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 15px;
    gap: 10px;
    color: rgb(206, 206, 206);
    background-color: rgb(124, 0, 0);
    border-radius: 50px;
    border: none;
    cursor: pointer;
}